:root {
    --dist-from-top: 23px;
    --grey-button-colour: #f2f2f2;
    --grey-button-height: 36px;
    --grey-button-border-radius: 5px;
    --default-font: Arial, Helvetica, sans-serif;
    --grey-button-font-size: 14px;
    --grey-button-font-colour: #5f6368;
}

body {
    padding: 0;
    margin: 0;
}

.signin-text-container {
    font-family: var(--default-font);
    font-weight: bold;
    font-size: 13px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.signin-button-container {
    background-color: #4285f4;
    position: absolute;
    height: 30px;
    width: 69px;
    margin-top: -23px;
    margin-left: 1821px;
    z-index: -1;
}
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 27px;
    margin-top: 159px;
}
.bar-container {
    background-color: white;
    height: 44px;
    width: 582px;
    margin: auto;
}

.grey-border {
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    border-radius: 22px;
}

.upper-text-container {
    font-family: var(--default-font);
    font-size: 13;
    opacity: 0.75;
}

.about-text-container {
    margin-top: var(--dist-from-top);
    margin-left: 25px;
}

.store-text-container {
    margin-left: 77.5px;
    margin-top: -15px;
}

.gmail-text-container {
    text-align: right;
    margin-top: -14px;
    margin-right: 217px;
}

.images-text-container {
    text-align: right;
    margin-top: -15px;
    margin-right: 159px;
}

.waffle-container {
    position: absolute;        
    clip: rect(35px, 190px, 300px,130px);
    margin-left: 1644px;
    margin-top: -61px;
}

.search-button-container {
    background-color: var(--grey-button-colour);
    border-color: var(--grey-button-colour);
    border-radius: var(--grey-button-border-radius);
    height: var(--grey-button-height);
    width: 127px;
    margin-top: 29px;
    margin-left: 805px;
}

.feeling-lucky-button-container {
    background-color: var(--grey-button-colour);
    border-color: var(--grey-button-colour);
    border-radius: var(--grey-button-border-radius);
    margin-left: 944px;
    margin-top: -36px;
    height: var(--grey-button-height);
    width: 142.5px;
}
.grey-button-text-container {
    font-family: var(--default-font);
    font-size: var(--grey-button-font-size);
    color: var(--grey-button-font-colour);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-grey-bar-container {
  
    display: block;

    border-bottom: var(--grey-button-font-colour);
    border-style: solid;
    height: 41px;
    background-color: var(--grey-button-colour);
    overflow: hidden;
    
}

.language-text-container {
    font-family: var(--default-font);
    color: black;
    font-size: 13px;
    opacity: 0.75;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

.language-name {
    font-family: var(--default-font);
    font-size: 13px;
    color: #1a0dab;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 6px;
}